{{- $p := . -}}
{{- if $p.Params.download_enabled -}}
  {{- $label := $p.Params.download_label | default "Download MP3" -}}
  {{- if $p.Params.download_url -}}
    <a class="ozk-button ozk-button-primary" href="{{ $p.Params.download_url }}" target="_blank" rel="noopener noreferrer">
      {{ $label }}
    </a>
  {{- else -}}
    {{- with $p.Params.download_file -}}
      {{- with $p.Resources.GetMatch . -}}
        <a class="ozk-button ozk-button-primary" href="{{ .RelPermalink }}" download>
          {{ $label }}
        </a>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
